.main h2 {
    color: #f39c12;
    margin-bottom: 20px;
    font-size: 28px;
}

.form-label {
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.btn-primary {
    background-color: #f39c12;
    border: none;
}

.btn-primary:hover {
    background-color: #e67e22;
}

@media (max-width: 768px) {
    .main h2 {
        font-size: 24px;
    }
    .form-label {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .main h2 {
        font-size: 20px;
    }
    .form-label {
        font-size: 14px;
    }
}
.message {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .message-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
  }
  
  .message-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .alert {
    position: relative;
    padding-right: 3.5rem;
  }
  
  .message-text {
    display: inline-block;
    margin-right: 2rem;
  }
  
  .custom-close-btn {
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  
  .custom-close-btn:hover {
    opacity: 1;
    color: #000;
  }