.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
@media (max-width: 1024px) {
    .recipe-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media (max-width: 768px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 480px) {
    .recipe-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.recipe-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.recipe-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #444;
}

.recipe-card p {
    font-size: 1rem;
    color: #777;
    margin: 5px 0;
}


.recipe-card .button-container {
    display: flex; 
    justify-content: center;
    gap: 7px; 
    margin-top: 10px; 
    padding: 0%;
}


.recipe-card a {
    display: inline-block;
    padding: 8px; 
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #f39c12;
    text-decoration: none;
    border-radius: 5px; 
    transition: background 0.3s ease;
    margin: 0px;
}

.recipe-card a:hover {
    background: #e08e0b; }
.wishlist-icon {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 8px; 
    background: none; 
    color: #ccc; 
    border-radius: 0; 
    text-decoration: none;
    transition: none; 
}

.wishlist-icon:hover {
    background: none; 
    color: #999; 
}

.wishlist-icon .fa-heart.fa-solid.pink {
    color: #ff0000; 
}
.wishlist-icon i {
    font-size: 1rem; 
    margin: 0; 
}


.btn-primary {
    color: #fff; 
    background-color: #f39c12; 
    border-color: #f39c12; 
}

.btn-primary:hover {
    color: #fff; 
    background-color: #f39c12; 
    border-color: #f39c12;
}

.carousel-control-prev,
.carousel-control-next {
    display: block !important;
    opacity: 1 !important;
    width: 5% !important;
    background: rgba(0, 0, 0, 0.3); 
    transition: opacity 0.3s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent; 
    filter: invert(1); 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.8;
}
.carousel-item img {
    max-height: 500px; 
    object-fit: cover;
}